In [1]:
!pip install snscrape

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: snscrape in c:\users\selim\appdata\roaming\python\python39\site-packages (0.4.3.20220106)
Requirement already satisfied: filelock in c:\programdata\anaconda3\lib\site-packages (from snscrape) (3.6.0)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from snscrape) (4.11.1)
Requirement already satisfied: requests[socks] in c:\programdata\anaconda3\lib\site-packages (from snscrape) (2.27.1)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from snscrape) (4.8.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->snscrape) (2.3.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->snscrape) (3.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.7.1)

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [5]:
class tweet:
    def __init__(self, htag_follower = 'elonmusk' , until= '2023-01-01' , since='2022-01-01', limit = 10):
         self._htag_follower = htag_follower
         self._until = until
         self._since = since
         self._limit = limit
      
    # getter method
    def get_htag_follower(self):
        return self._htag_follower
      
    # setter method
    def set_htag_follower(self, x):
        self._htag_follower = x

    # getter method
    def get_until(self):
        return self._until
      
    # setter method
    def set_until(self, x):
        self._until = x
  
    # getter method
    def get_since(self):
        return self._since
      
    # setter method
    def set_since(self, x):
        self._since = x

    # getter method
    def get_limit(self):
        return self._limit
      
    # setter method
    def set_limit(self, x):
        self._limit = x
    
    def get_tweets(self):
      query = "(from:" +  self._htag_follower + ") until:" +  self._until + " since:" +  self._since
      tweets = []
      limit = self._limit
      for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        # print(vars(tweet))
        # break
        if len(tweets) == limit:
            break
        else:
            tweets.append([tweet.date, tweet.user.username, tweet.content])

      return pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])

In [6]:
#Test value default
test_tweet = tweet()
df = test_tweet.get_tweets()
display(df.head(5))

#Test with initialization
test_tweet = tweet(htag_follower = 'binance', until= '2023-01-01' , since='2021-01-01', limit = 2)
df = test_tweet.get_tweets()
display(df.head(5))

#Test setter
test_tweet.set_htag_follower('coinbase')
test_tweet.set_until('2023-01-01') 
test_tweet.set_since('2021-01-01')
test_tweet.set_limit(2)

#Test getter 
display("htag_follower : " + test_tweet.get_htag_follower()) 
display("until : " + test_tweet.get_until()) 
display("since : " + test_tweet.get_since()) 
display("limit : " + str(test_tweet.get_limit())) 
df = test_tweet.get_tweets()
display(df.head(5))

,Date,User,Tweet
0,2022-07-18 14:18:56+00:00,elonmusk,@Rainmaker1973 I use this example a lot
1,2022-07-18 14:17:12+00:00,elonmusk,@TJ_Cooney @SpaceX Starlink bandwidth varies a...
2,2022-07-18 14:08:56+00:00,elonmusk,@TJ_Cooney @SpaceX Starlink is a gamechanger f...
3,2022-07-16 03:48:29+00:00,elonmusk,@topherAlba26 @itsALLrisky @BillyM2k @MilgateT...
4,2022-07-16 01:40:47+00:00,elonmusk,@NASAEarth Global _______

,Date,User,Tweet
0,2022-07-18 14:40:39+00:00,binance,Loving the flowers @Cyrillf2!\n \nWant a #Bina...
1,2022-07-18 13:08:49+00:00,binance,Stablecoin transparency matters. A lot. \n\nTh...

'htag_follower : coinbase'

'until : 2023-01-01'

'since : 2021-01-01'

'limit : 2'

,Date,User,Tweet
0,2022-07-15 18:01:31+00:00,coinbase,"Own a piece of Bill Murray's legendary story, ..."
1,2022-07-15 18:01:31+00:00,coinbase,Launching Soon: Our first-ever drop on @Coinba...