In [1]:
import pandas as pd

In [62]:
holiday_2021_df = pd.read_csv('data/US Holiday Dates (2004-2021).csv', index_col=0, parse_dates=[0])
holiday_2021_df.shape

(342, 5)

In [9]:
holiday_2021_df.head()

                Holiday    WeekDay  Month  Day  Year
Date
2004-07-04  4th of July     Sunday      7    4  2004
2005-07-04  4th of July     Monday      7    4  2005
2006-07-04  4th of July    Tuesday      7    4  2006
2007-07-04  4th of July  Wednesday      7    4  2007
2008-07-04  4th of July     Friday      7    4  2008

In [8]:
holiday_2021['Holiday'].value_counts()
# Martin Luther King, Jr. Day : 17 janv. 2022
# 4th of July :  lun. 4 juil. 2022
# Juneteenth :dim. 19 juin 2022
# Christmas Eve :  lun. 24 déc. 2022
# New Year's Day : 01 01 2022
# Washington's Birthday  : 21 02 2022
# Veterans Day : 11 11 2022
# Valentine’s Day 14 02 2022
# Thanksgiving Eve  : 23 11 2022
# Thanksgiving Day : 24 11 2022
# New Year’s Eve : 31 12 2022
# Memorial Day  : 30 05 2022
# Christmas Day : 25 12 : 2022
# Labor Day : 05 09 2022
# Eastern Easter : 24 04 2022
# Columbus Day : 10 10 2022
# Western Easter 17 04 2022

Labor Day Weekend              36
4th of July                    18
New Year's Day                 18
Washington's Birthday          18
Veterans Day                   18
Valentine’s Day                18
Thanksgiving Eve               18
Thanksgiving Day               18
New Year’s Eve                 18
Memorial Day                   18
Christmas Day                  18
Martin Luther King, Jr. Day    18
Labor Day                      18
Juneteenth                     18
Eastern Easter                 18
Columbus Day                   18
Christmas Eve                  18
Western Easter                 18
Name: Holiday, dtype: int64

In [55]:
holiday_2022_dic = {
    "2022-01-17": ["Martin Luther King, Jr. Day", "Monday", 1, 17, 2022],
    "2022-07-04": ['4th of July', 'Monday', 7, 4, 2022],
    "2022-06-19": ["Juneteenth", "Sunday", 6, 19, 2022],
    "2022-12-24": ['Christmas Eve', "Monday", 12, 24, 2022],
    "2022-01-01": ['New Year\'s Day', 'Saturday', 1, 1, 2022],
    "2022-02-21": ["Washington's Birthday", "Thuesday", 2, 21, 2022],
    "2022-11-11": ["Veterans Day", "Friday", 11, 11, 2022],
    "2022-02-14": ["Valentine’s Day", "Monday", 2, 14, 2022],
    "2022-11-23": ["Thanksgiving Eve", "Wednesday", 11, 23, 2022],
    "2022-11-24": ["Thanksgiving Day", "Thirsday", 11, 24, 2022],
    "2022-12-31": ["New Year’s Eve", "Friday", 12, 31, 2022],
    "2022-05-30": ["Memorial Day", "Monday", 5, 30, 2022],
    "2022-12-25": ["Christmas Day", "Sunday", 12, 25, 2022],
    "2022-09-05": ["Labor Day", "Saturday", 9, 5, 2022],
    "2022-04-24": ["Eastern Easter", "Monday", 4, 24, 2022],
    "2022-10-10": ["Columbus Day", "Thuesday", 10, 10, 2022],
    "2022-04-17": ["Western Easter", "Monday", 4, 17, 2022]
    
}

In [61]:
holiday_2022_df = pd.DataFrame.from_dict(holiday_2022_dic, orient='index', columns=holiday_2021.columns)
holiday_2022_df.index = pd.to_datetime(holiday_2022_df.index, errors='coerce')

                                Holiday   WeekDay  Month  Day  Year
2022-01-17  Martin Luther King, Jr. Day    Monday      1   17  2022
2022-07-04                  4th of July    Monday      7    4  2022
2022-06-19                   Juneteenth    Sunday      6   19  2022
2022-12-24                Christmas Eve    Monday     12   24  2022
2022-01-01               New Year's Day  Saturday      1    1  2022

In [68]:
holidays_df = pd.concat([holiday_2021_df, holiday_2022_df])

In [69]:
holidays_df.head()

                Holiday    WeekDay  Month  Day  Year
2004-07-04  4th of July     Sunday      7    4  2004
2005-07-04  4th of July     Monday      7    4  2005
2006-07-04  4th of July    Tuesday      7    4  2006
2007-07-04  4th of July  Wednesday      7    4  2007
2008-07-04  4th of July     Friday      7    4  2008

In [1]:
df_holiday.to_csv('data/holidays_with_2022.csv')

NameError: name 'df_holiday' is not defined