In [ ]:
!pip install snscrape

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import datetime

In [ ]:
class tweet:
    def __init__(self, htag_follower = 'elonmusk' , since='2019-01-02', until= '2019-03-01' limit = 10):
         self._htag_follower = htag_follower
         self._until = until
         self._since = since
         self._limit = limit
      
    # getter method
    def get_htag_follower(self):
        return self._htag_follower
      
    # setter method
    def set_htag_follower(self, x):
        self._htag_follower = x

    # getter method
    def get_until(self):
        return self._until
      
    # setter method
    def set_until(self, x):
        self._until = x
  
    # getter method
    def get_since(self):
        return self._since
      
    # setter method
    def set_since(self, x):
        self._since = x

    # getter method
    def get_limit(self):
        return self._limit
      
    # setter method
    def set_limit(self, x):
        self._limit = x
    
    def get_tweets(self):
      query = "(from:" +  self._htag_follower + ") until:" +  self._until + " since:" +  self._since
      tweets = []
      limit = self._limit
      for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        # print(vars(tweet))
        # break
        if len(tweets) == limit:
            break
        else:
            tweets.append([tweet.date, tweet.user.username, tweet.content])

      return pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])

In [38]:
'''
#Test value default
test_tweet = tweet()
df = test_tweet.get_tweets()
display(df.head(5))
'''

#Test with initialization
test_tweet = tweet(htag_follower = 'Bloomberg', since='2022-02-24', until= '2022-04-22', limit = 10)
df = test_tweet.get_tweets()
display(df.head(10))

'''
#Test setter
test_tweet.set_htag_follower('coinbase')
test_tweet.set_until('2023-01-01') 
test_tweet.set_since('2021-01-01')
test_tweet.set_limit(2)

#Test getter 
display("htag_follower : " + test_tweet.get_htag_follower()) 
display("until : " + test_tweet.get_until()) 
display("since : " + test_tweet.get_since()) 
display("limit : " + str(test_tweet.get_limit())) 
df = test_tweet.get_tweets()
display(df.head(5))
'''

,Date,User,Tweet
0,2022-04-21 20:05:59+00:00,Bloomberg,We are leading efforts to shape a sustainable ...
1,2022-04-12 20:37:56+00:00,Bloomberg,Supporting local communities is at the heart o...
2,2022-03-31 17:35:21+00:00,Bloomberg,"This Transgender Day of Visibility, we celebra..."
3,2022-03-24 17:34:16+00:00,Bloomberg,We provide our employees with global opportuni...
4,2022-03-23 14:17:57+00:00,Bloomberg,Our engineers build &amp; manage systems that ...
5,2022-03-23 11:18:50+00:00,Bloomberg,We are proud to announce the launch of a new E...
6,2022-03-22 18:29:06+00:00,Bloomberg,45% of women say their menopause symptoms nega...
7,2022-03-18 14:32:15+00:00,Bloomberg,.@BBGconnects enables more people to learn abo...
8,2022-03-16 17:56:54+00:00,Bloomberg,The @bbgconnects app is just one of the ways w...
9,2022-03-11 22:45:05+00:00,Bloomberg,Thanks to the generosity of Bloomberg employee...

'\n#Test setter\ntest_tweet.set_htag_follower(\'coinbase\')\ntest_tweet.set_until(\'2023-01-01\') \ntest_tweet.set_since(\'2021-01-01\')\ntest_tweet.set_limit(2)\n\n#Test getter \ndisplay("htag_follower : " + test_tweet.get_htag_follower()) \ndisplay("until : " + test_tweet.get_until()) \ndisplay("since : " + test_tweet.get_since()) \ndisplay("limit : " + str(test_tweet.get_limit())) \ndf = test_tweet.get_tweets()\ndisplay(df.head(5))\n'

In [39]:
df.set_index("Date", inplace = True)
df

,User,Tweet
Date,,
2022-04-21 20:05:59+00:00,Bloomberg,We are leading efforts to shape a sustainable ...
2022-04-12 20:37:56+00:00,Bloomberg,Supporting local communities is at the heart o...
2022-03-31 17:35:21+00:00,Bloomberg,"This Transgender Day of Visibility, we celebra..."
2022-03-24 17:34:16+00:00,Bloomberg,We provide our employees with global opportuni...
2022-03-23 14:17:57+00:00,Bloomberg,Our engineers build &amp; manage systems that ...
2022-03-23 11:18:50+00:00,Bloomberg,We are proud to announce the launch of a new E...
2022-03-22 18:29:06+00:00,Bloomberg,45% of women say their menopause symptoms nega...
2022-03-18 14:32:15+00:00,Bloomberg,.@BBGconnects enables more people to learn abo...
2022-03-16 17:56:54+00:00,Bloomberg,The @bbgconnects app is just one of the ways w...
2022-03-11 22:45:05+00:00,Bloomberg,Thanks to the generosity of Bloomberg employee...

In [40]:
snapshotdate = datetime.datetime.today().strftime("%m-%d-%Y_%H-%M-%S")
df.to_csv('../data/tweets_ukr_war_DF_' + snapshotdate +'.csv', sep='\t', encoding='utf-8')